.Rproj.user
.Rhistory
.RData
.Ruserdata
BDA Compendio de distribuciones.pdf
Carátula Inferencia II.docx
Programa Inferencia II 2017.pdf
/Presentaciones de clase/
Trabajo final/Corrección nachalca.pdf
Trabajo final/heckman.Rdata